{
    "presets": [
        "react", [
            "env", {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        "transform-regenerator", ["import", {
            "libraryName": "antd",
            "style": "css"
        }]
    ]
}